#main_left_menu {
	width: 200px;
	margin: 10px;
	font-weight:bold
	}
	
#main_left_menu li a {
	height: 32px;
  	voice-family: "\"}\""; 
  	voice-family: inherit;
  	height: 24px;
	text-decoration: none;
	}	
	
#main_left_menu li a:link, #main_left_menu li a:visited {
	color: #4D4D4D;
	display: block;
	background:  url(ico/menu/main_left_menu.gif);
	padding: 8px 0 0 10px;
	}
	
#main_left_menu li a:hover {
	color: #FF9834;
	background:  url(ico/menu/main_left_menu.gif) 0 -32px;
	padding: 8px 0 0 10px;
	}


.button {
	margin: 20px 20px 20px 0px;
	-moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background-color:#bddbfa;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;

}.button:hover {
	background-color:#80b5ea;
}.button:active {
	position:relative;
	top:1px;
}

	
/*Horizontal menu*/

ul.horizontal_menu li {

 display: inline; /* Отображать как строчный элемент */


}

/*Social tab menu*/

.social_tabmenu{
padding: 3px 0;
margin-left: 0;
margin-top: 1px;
margin-bottom: 0;
font: bold 12px Verdana;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/

}


.social_tabmenu ul{
padding-top:10px;
}
.social_tabmenu li{
display: inline;

}

.social_tabmenu li a{
padding:7px 15px 3px 15px;
position: relative;
text-decoration: none;
margin-right: 0px;
border: 1px solid #aec6e0;
color: #2d2b2b;
background: white url(ico/menu/shade.gif) top left repeat-x;

}

.social_tabmenu li a:visited{
color: #2d2b2b;
}

.social_tabmenu li a:hover{
color: #FF9834;
padding-top:9px;

}

.social_tabmenu li a:hover{
color: #FF9834;
padding-top:9px;

}

.social_tabmenu li a.selected{ /*selected main tab style */
position: relative;

}

.social_tabmenu li a.selected{ /*selected main tab style */

background: url(ico/menu/shadeactive.gif);
border-bottom-color: white;
}

.social_tabmenu li a.selected:hover{ /*selected main tab style */
text-decoration: none;
}

.tabcontent{
display:none;
}

@media print {
.tabcontent {
display:block !important;
}
}